@import "tailwindcss";
@import "./custom.css";
@import "./layout.css";
@import "./vars.css";
@import "./typegrophy.css";

/* @import "tw-animate-css"; */
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-800: #081a2b;
  --color-primary-900: #040f19;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background;
  }
}
