@import "tailwindcss";
@import "./custom.css";
@import "./layout.css";
@import "./vars.css";
@import "./typegrophy.css";

/* @import "tw-animate-css"; */
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-800: #081a2b;
  --color-primary-900: #040f19;
  --color-sky-500: var(----sky-500);
  --color-sky-400: var(----sky-400);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background;
  }
}

.swiper-slide {
  height: auto !important;
  align-self: stretch !important;
}

:root {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}

.dark {
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
}
